<h1 data-test-title>{{model.quiz.title}}</h1>

{{#link-to "quizzes"}}
  Back
{{/link-to}}

<QuizCard @onComplete={{action "completeQuiz"}}>
  <ol>
    {{#each model.questions as |question| }}
      <li data-test-question={{question.id}}>{{question.question}}</li>
    {{/each}}
  </ol>
</QuizCard>

{{outlet}}
