<h1 data-test-title>{{model.quiz.title}}</h1>

{{#link-to "quizzes"}}
  Back
{{/link-to}}

<ol>
  {{#each questions as |question| }}
    <li data-test-question={{question.id}}>{{question.question}}</li>
  {{/each}}
</ol>

<button {{action "completeQuiz"}}>Complete the Quiz</button>

{{outlet}}
